footer
    .love
        a(href='https://github.com/kyleratti/a-mirror', target='_blank') coded
        |  with love by 
        a(href='https://reddit.com/user/clutch_22', target='_blank') /u/Clutch_22
    
    .server
        p served by #[b #{serverName}]
