extends layout

block content
    .video
        video(controls, poster=posterLocation, src=videoLocation)
    .reddit
        | take me 
        a(href="https://reddit.com/" + redditPostId) back to reddit
