extends layout

block content
    .video
        video(controls, poster=posterLocation, src=videoLocation)
    .reddit
        span(class='reddit-logo')
        span take me 
        a(href="https://reddit.com/" + redditPostId) back to reddit
