body {
    background-color: #333;
    text-align: center;
    color: lightsteelblue;
    padding: 2em;
}

a {
    color: lightcoral;
}

a:hover {
    color: coral;
    font-weight: bold;
    text-decoration: none;
}

video {
    max-width: 800px;
    max-height: 600px;
    border: 2px solid #444;
    padding: 2px;
    background-color: #525252;
}

.reddit-logo {
    display: inline-block;
    background-image: url(https://cdn4a-mirror.clutch22.me/img/reddit_logo.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
